accelerate==1.0.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
async-timeout==4.0.3
attrs==24.2.0
bitsandbytes==0.44.1
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cmake==3.29.3
datasets==3.0.2
dill==0.3.8
filelock==3.14.0
frozenlist==1.4.1
fsspec==2024.6.0
GPUtil==1.4.0
huggingface-hub==0.23.3
idna==3.7
Jinja2==3.1.4
joblib==1.4.2
lit==18.1.6
MarkupSafe==2.1.5
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.3
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging==24.0
pandas==2.2.3
peft==0.13.2
pillow==10.3.0
propcache==0.2.0
psutil==6.1.0
pyarrow==17.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
sentence-transformers==3.0.1
six==1.16.0
sympy==1.12.1
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.56.0
transformers==4.41.1
triton==2.0.0
typer==0.4.2
types-pytz==2024.1.0.20240417
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
wasabi==0.10.1
xxhash==3.5.0
yarl==1.16.0
